/CarAPI.Web/.vs/CarAPI.Web/v15/.suo
/CarAPI.Web/.vs/CarAPI.Web/v15/Server/sqlite3/db.lock
/CarAPI.Web/.vs/CarAPI.Web/v15/Server/sqlite3/storage.ide
/CarAPI.Web/.vs/CarAPI.Web/v15/Server/sqlite3/storage.ide-shm
/CarAPI.Web/.vs/CarAPI.Web/v15/Server/sqlite3/storage.ide-wal
