<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
           layout="${longdate} ${logger} || LogLevel: ${level} || ${message}"
           fileName="${basedir}/logs/logfile.txt"
           keepFileOpen="false"
           archiveFileName="${basedir}/logs/archives/{#}.txt"
           archiveNumbering="Date"
           archiveEvery="Day"
           maxArchiveFiles="100"
           encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="carAPIFileLogger.*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
</configuration>